/**
 * HTML5 ✰ Boilerplate
 *
 * style.css contains a reset, font normalization and some base styles.
 *
 * Credit is left where credit is due.
 * Much inspiration was taken from these projects:
 * - yui.yahooapis.com/2.8.1/build/base/base.css
 * - camendesign.com/design/
 * - praegnanz.de/weblog/htmlcssjs-kickstart
 */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	content: none;
}

ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

input, select {
	vertical-align: middle;
}

/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */
body {
	font: 13px/1.231 sans-serif;
	*font-size: small;
}

/* Hack retained to preserve specificity */
select, input, textarea, button {
	font: 99% sans-serif;
}

/* Normalize monospace sizing:
en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp {
	font-family: monospace, sans-serif;
}

/**
 * Minimal base styles.
 */
/* Always force a scrollbar in non-IE */
html {
	-ms-overflow-y: scroll;
	overflow-y: scroll;
}

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {
	outline: none;
}

ul, ol {
	margin-left: 2em;
}

ol {
	list-style-type: decimal;
}

/* Remove margins for navigation lists */
nav ul, nav li {
	margin: 0;
	list-style: none;
	list-style-image: none;
}

small {
	font-size: 85%;
}

strong, th {
	font-weight: bold;
}

td {
	vertical-align: top;
}

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

pre {
	/* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
	padding: 15px;
}

textarea {
	overflow: auto;
}

/* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */
.ie6 legend, .ie7 legend {
	margin-left: -7px;
}

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] {
	vertical-align: text-bottom;
}

input[type="checkbox"] {
	vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
	vertical-align: baseline;
}

.ie6 input {
	vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button {
	cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
	margin: 0;
}

/* Colors for form validity */
input:valid, textarea:valid {
}

input:invalid, textarea:invalid {
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-o-border-radius: 1px;
	-ms-border-radius: 1px;
	-khtml-border-radius: 1px;
	border-radius: 1px;

	-webkit-box-shadow: 0px 0px 5px red;
	-moz-box-shadow: 0px 0px 5px red;
	box-shadow: 0px 0px 5px red;
}

.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
	background-color: #f0dddd;
}

/* These selection declarations have to be separate
No text-shadow: twitter.com/miketaylr/status/12228805301
Also: hot pink! */
::-moz-selection {
	background: #FF5E99;
	color: #fff;
	text-shadow: none;
}

::selection {
	background: #FF5E99;
	color: #fff;
	text-shadow: none;
}

/* j.mp/webkit-tap-highlight-color */
a:link {
	color:#FFF;
	text-decoration:none;
}

/* Make buttons play nice in IE:
www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {
	width: auto;
	overflow: visible;
}

/* Bicubic resizing for non-native sized IMG:
code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img {
	-ms-interpolation-mode: bicubic;
}

/**
 * You might tweak these..
 */
body, select, input, textarea {
	/* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
	color: #444;
	/* Set your base font here, to apply evenly */
	 font-family: Verdana, Geneva, sans-serif;
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

a {
	color:#FFF;
	text-decoration:none;
}
a:visted {
	color:#FFF;
	text-decoration:none;
}
a:hover {
	color:#FFF;
	text-decoration:underline;
}

/**
 * Primary styles
 *
 * Author: Austin Hampton
 */
 
* {
	margin: 0;
}
html, body {
	height: 100%;
	width: 100%;
}

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}

body {
	height: 100%;
	margin: 0 auto 0 auto;
	width: 1000px;
	background-image: url(http://themrmiller.com/austin/img/USFirstLogo2.png);
	background-repeat: repeat;
}

header {
	width: 100%;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(http://themrmiller.com/austin/img/redCF.png);
	background-repeat: repeat-x;
}

#container {
	min-height: 100%;
	margin: 0;
	background-image: url(http://themrmiller.com/austin/img/iPadBackgroundTexture.png);
	background-repeat: repeat;
}

#main {
	overflow:auto;
	padding-bottom: 87px;
}

.logo {
	position: absolute;
	/* Center's the absolute positioned image */
	left: 50%;
	margin-left: -274px;
	top: 0px;
	background-image: url(http://themrmiller.com/austin/img/fox_FULL.png);
	width: 548px;
	height: 151px;
}



.logo2 {
	position: absolute;
	/* Center's the absolute positioned image */
	left: 50%;
	margin-left: -80.5px;
	top: 0px;
	background-image: url(http://themrmiller.com/austin/img/foxFace.png);
	width: 161px;
	height: 151px;
	z-index: 7;
}

.centerH {
	position:relative;
	margin:auto;
	display:block;
}

#menuCont {
	background-image: url(http://themrmiller.com/austin/img/redCF.png);
	background-repeat: repeat-x;
	padding: 0;
	margin: 0;
	position: relative;
	height: 37px;
	width: 100%;
	top: 29px;
	color: #FFF;
}

#mainMenuL {
	padding: 0px;
	margin: 0 0 0 10px;
	text-align: left;
	list-style-type: none;
	float: left;
}

#mainMenuR {
	padding: 0px;
	margin: 0 10px 0 0;
	text-align: right;
	list-style-type: none;
	float: right;
}

#menuCont ul li {
	position: relative;
	display: inline;
	z-index:100;
}

#menuCont ul li a {
	z-index:100;
}



ul.topnav li {
	float: left;
	margin: 0;
	padding: 0;
	position: relative; /*--Declare X and Y axis base for sub navigation--*/
}
ul.topnav li a{
	padding: 10px;
	color: #fff;
	display: block;
	text-decoration: none;
	float: left;
	z-index: 10;
}
ul.topnav li:hover{
	background: url(http://themrmiller.com/austin/img/redCFDark.png) repeat left top;
}
ul.topnav li span { /*--Drop down trigger styles--*/
	position: relative;
	right: 9px;
	bottom: -2px;
	width: 17px;
	height: 35px;
	float: left;
	background: url(http://themrmiller.com/austin/img/subnav_btn.png) no-repeat center top;
}
ul.topnav li span.subhover {background-position: center bottom; cursor: pointer;} /*--Hover effect for trigger--*/

ul.subnav li a {
	text-align:left;
	padding: 10px 5px 12px 10px;
	cursor: pointer;
}

ul.topnav li ul.subnav {
	list-style: none;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	left: 0; top: 35px;
	background: #333;
	margin: 0; 
	padding: 0;
	display: none;
	float: left;
	width: 170px;
	border: 1px solid #111;
}
ul.topnav li ul.subnav li{
	margin: 0; 
	padding: 0;
	border-top: 1px solid #252525; /*--Create bevel effect--*/
	border-bottom: 1px solid #444; /*--Create bevel effect--*/
	clear: both;
	width: 170px;
}
html ul.topnav li ul.subnav li a {
	float: left;
	width: 145px;
	background: #333 url(http://themrmiller.com/austin/img/dropdown_linkbg.gif) no-repeat 10px center;
	padding-left: 20px;
}
html ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/
	background: #222 url(http://themrmiller.com/austin/img/dropdown_linkbg.gif) no-repeat 10px center;
}



b {
	font-weight: bolder;
	color: #FFF;
	font-size: 16px;
}

#menuL {
	padding: 0px;
	margin: 0px;
	float: left;
	background-image: url(http://themrmiller.com/austin/img/L_menu3.png);
	position: relative;
	height: 67px;
	width: 26px;
	left: -26px;
}

#menuR {
	padding: 0px;
	margin: 0px;
	float: right;
	background-image: url(http://themrmiller.com/austin/img/R_menu3.png);
	position: relative;
	height: 67px;
	width: 26px;
	right: -26px;
}

.grill {
	background-image: url(http://themrmiller.com/austin/img/grill.png);
	background-repeat: repeat;
}

.grill2 {
	background-image: url(http://themrmiller.com/austin/img/grill2.png);
	background-repeat: repeat;
}

#topGrill {
	height: 29px;
	-webkit-border-bottom-left-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
	-moz-border-radius-bottomleft: 15px;
	-moz-border-radius-bottomright: 15px;
}

#LeftSide {
	padding: 0px;
	margin: 0px;
	float: left;
	position: absolute;
	height: 100%;
	width: 10%;
	left: 0px;
	top: 0px;
}

#RightSide {
	padding: 0px;
	margin: 0px;
	float: right;
	position: absolute;
	height: 100%;
	width: 10%;
	right: 0px;
	top: 0px;
}

#clearfooter {
	height: 87px;
}

footer {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	bottom: 0;
	position: relative;
	margin-top: -87px; /* negative value of footer height */
	height: 87px;
	clear:both;
}

.push {
	height: 87px;
}

.flipV {
	-moz-transform: scaleY(-1);
	-o-transform: scaleY(-1);
	-webkit-transform: scaleY(-1);
	-webkit-transform: scaleY(-1);
	-moz-transform: scaleY(-1);
	-o-transform: scaleY(-1);
	-ms-transform: scaleY(-1);
	transform: scaleY(-1);
	filter: FlipV;
	-ms-filter: "FlipV";
}

.flipH {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

#footL {
	padding: 0px;
	margin: 0px;
	float: left;
	background-image: url(http://themrmiller.com/austin/img/lFoot.png);
	position: relative;
	height: 151px;
	width: 25px;
	left: -25px;
	bottom: 64px;
}

#footR {
	padding: 0px;
	margin: 0px;
	float: right;
	background-image: url(http://themrmiller.com/austin/img/rFoot.png);
	position: relative;
	height: 151px;
	width: 25px;
	right: -25px;
	bottom: 64px;
}

#footCont {
	background-image: url(http://themrmiller.com/austin/img/redCF2.png);
	background-repeat: repeat-x;
	padding: 0;
	margin: 0;
	position: relative;
	height: 87px;
	width: 100%;
	bottom: 0;
	color: #FFF;
}

.footBtm {
	background-image: url(http://themrmiller.com/austin/img/footBtmL2.png);
	padding: 0;
	margin: 0;
	position: relative;
	height: 38px;
	width: 101px;
	top: 40px;
}

#footBtmL {
	float: left;
	left: 0;
}

#footBtmR {
	float: right;
	right: 0;
}

#footBtmC {
	background-image: url(http://themrmiller.com/austin/img/footBtmC2.png);
	padding: 0;
	margin: 0;
	position: relative;
	float: left;
	left: 60px;
	height: 38px;
	width: 630px;
	top: 40px;
}

#footBtmCL {
	background-image: url(http://themrmiller.com/austin/img/footBtmCL2.png);
	padding: 0;
	margin: 0;
	position: relative;
	float: left;
	left: -24px;
	height: 38px;
	width: 24px;
}

#footBtmCR {
	background-image: url(http://themrmiller.com/austin/img/footBtmCL2.png);
	padding: 0;
	margin: 0;
	position: relative;
	float: right;
	right: -24px;
	height: 38px;
	width: 24px;
}

.contentCont {
	background-color: #000;
	padding: 10px;
	position: relative;
	color: #FFF;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #8A0A0A;
	border-bottom-color: #8A0A0A;
	border-left-color: #8A0A0A;
}

.contentHead {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(125,126,125,0)), color-stop(100%, rgba(138,10,10,1)));
	background: -webkit-linear-gradient(top, rgba(125,126,125,0) 0%, rgba(138,10,10,1) 100%);
	background: -moz-linear-gradient(top, rgba(125,126,125,0) 0%, rgba(138,10,10,1) 100%);
	background: -o-linear-gradient(top, rgba(125,126,125,0) 0%, rgba(138,10,10,1) 100%);
	background: -ms-linear-gradient(top, rgba(125,126,125,0) 0%, rgba(138,10,10,1) 100%);
	background: linear-gradient(top, rgba(125,126,125,0) 0%, rgba(138,10,10,1) 100%);

	/* FF3.6+ */
	/* Chrome,Safari4+ */
	/* Chrome10+,Safari5.1+ */
	/* Opera11.10+ */
	/* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007d7e7d', endColorstr='#8a0a0a',GradientType=0 );
	/* IE6-9 */
	/* W3C */
	position: relative;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	height: 25px;
	padding-left: 10px;
}

.contentHead h3 {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(6%, rgba(138,10,10,1)), color-stop(27%, rgba(138,10,10,0.78)), color-stop(100%, rgba(138,10,10,0)));
	background: -webkit-linear-gradient(top, rgba(138,10,10,1) 6%, rgba(138,10,10,0.78) 27%, rgba(138,10,10,0) 100%);
	background: -moz-linear-gradient(top, rgba(138,10,10,1) 6%, rgba(138,10,10,0.78) 27%, rgba(138,10,10,0) 100%);
	background: -o-linear-gradient(top, rgba(138,10,10,1) 6%, rgba(138,10,10,0.78) 27%, rgba(138,10,10,0) 100%);
	background: -ms-linear-gradient(top, rgba(138,10,10,1) 6%, rgba(138,10,10,0.78) 27%, rgba(138,10,10,0) 100%);
	background: linear-gradient(top, rgba(138,10,10,1) 6%, rgba(138,10,10,0.78) 27%, rgba(138,10,10,0) 100%);

	/* FF3.6+ */
	/* Chrome,Safari4+ */
	/* Chrome10+,Safari5.1+ */
	/* Opera11.10+ */
	/* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a0a0a', endColorstr='#008a0a0a',GradientType=0 );
	/* IE6-9 */
	/* W3C */
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;

	border-top-right-radius: 5px;
	width: auto;
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	padding-right: 5px;
	padding-left: 5px;
	display: inline-block;
}

#topInfo {
	height: 350px;
}

.slidecontrolls {
	height: 30px;
}

/* tooltip styling. by default the element to be styled is .tooltip  */
.tooltip {
	display:none;
	background:transparent url(http://themrmiller.com/austin/img/tooltip/black_arrow.png);
	font-size:12px;
	height:70px;
	width:160px;
	padding:25px;
	color:#fff;	
	z-index:1;
}

/* override the arrow image of the tooltip */
.tooltip.bottom {
	background:url(http://themrmiller.com/austin/img/tooltip/black_arrow_bottom.png);
	padding-top:40px;
	height:55px;
}

.tooltip.bottom {
	background:url(http://themrmiller.com/austin/img/tooltip/black_arrow_bottom.png);
}

#menuCont ul li a:visited {
	font-weight: bold;
	color: #FFF;
	text-decoration: none;	
}
#menuCont ul li a:hover {
	font-weight: bold;
	color: #FFF;
	text-decoration: none;	
}
#menuCont ul li a:link {
	font-weight: bold;
	color: #FFF;
	text-decoration: none;	
}
#menuCont ul li a:active {
	font-weight: bold;
	color: #FFF;
	text-decoration: none;	
}
#menuCont ul li a {
	font-weight: bold;
	color: #FFF;
	text-decoration: none;	
}

.twitter {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width:272px;
	border:1px solid #c9c9c9;
}
.twitter_m {
	width: 242px;
	height: 250px;
	overflow: hidden;
	padding: 0 15px;
	background:#fff;
}
.twitter_container {
	min-height:45px;
	height:auto !important;
	height:40px;
	padding-bottom:5px;
	padding-top:5px;
}
#twitter_update_list {
	width: 270px;
	padding: 0;
	overflow: hidden;
	font-style: italic;
	color: #31353d;
	line-height: 16px;
	font-weight:bold;
	margin-left:-13px;
}
#twitter_update_list li {
	width: 242px;
	list-style: none;
	padding:15px;
	border-bottom: dotted 1px #ccc;
}
#twitter_update_list li a {
	color:#8A0A0A;
	text-decoration: none;
}
#twitter_update_list li a:hover {
	color: #31353d;
}
#twitter_update_list li a:visited {
	color: #8A0A0A;
}

/**
 * Non-semantic helper classes: please define your styles before this section.
 */
/* For image replacement */
.ir {
	display: block;
	text-indent: -999em;
	overflow: hidden;
	background-repeat: no-repeat;
	text-align: left;
	direction: ltr;
}

/* Hide for both screenreaders and browsers:
css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden {
	display: none;
	visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
	visibility: hidden;
}

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
j.mp/bestclearfix */
.clearfix:before, .clearfix:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}

.clearfix:after {
	clear: both;
}

/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix {
	zoom: 1;
}

/**
 * Media queries for responsive design.
 *
 * These follow after primary styles so they will successfully override.
 */
@media all and (orientation:portrait) {
	/* Style adjustments for portrait mode goes here */
}

@media all and (orientation:landscape) {
	/* Style adjustments for landscape mode goes here */
}

/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
	/* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you: j.mp/textsizeadjust */
	/* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
	* {
		background: transparent !important;
		color: black !important;
		text-shadow: none !important;
		filter: none !important;
		-ms-filter: none !important;
		}

	/* Black prints faster: sanbeiji.com/archives/953 */
	a, a:visited {
		color: #444 !important;
		text-decoration: underline;
		}

	a[href]:after {
		content: " (" attr(href) ")";
		}

	abbr[title]:after {
		content: " (" attr(title) ")";
		}

	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
		content: "";
		}

	/* Don't show links for images, or javascript/internal links */
	pre, blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
		}

	thead {
		display: table-header-group;
		}

	/* css-discuss.incutio.com/wiki/Printing_Tables */
	tr, img {
		page-break-inside: avoid;
		}

	@page {
		margin: 0.5cm;
		}

	p, h2, h3 {
		orphans: 3;
		widows: 3;
		}

	h2, h3 {
		page-break-after: avoid;
		}
}z